page-about {

	#back {
		left: 27px;
	}

	.greeting {
		position: relative;
	    font-size: 42px;
	    top: 35%;
	    left: 14%;
	    width: 245px;
	    text-align: center;
	    color: color($colors, blue);
	} 

	#langSelect {
		position: relative;
	    top: 155px;
	    font-size: 22px;
	    color: #3E3F62;
	    background: color($colors, whitish);
	    border-radius: 4px;
	}

	#serverSelect {
		top: 155px;
    	font-size: 22px;
	    background: color($colors, whitish);
		color: color($colors, blue);
		border-radius: 4px;
	}

	.item-ios {
		background-color: transparent;
	}

	.button-link {
		position: relative;
	    height: 70px;
	    width: 286px;
	    border-radius: 25px;
	    color: color($colors, blue);
	    font-size: 26px;
	    top: 167px;
	    left: 29px;
	    margin-top: 33px;
	    background: color($colors, whitish);
	}

}
