page-about {

	#back {
		left: 27px;
	}

	.greeting {
		position: relative;
	    font-size: 42px;
	    top: 35%;
	    left: 14%;
	    width: 245px;
	    text-align: center;
	    color: color($colors, blue);
	} 

	#langSelect {
		position: relative;
		top: 122px;
		font-size: 20px;
		color: color($colors, blue);
	}

	#serverSelect {
		top: 127px;
	    font-size: 20px;
		color: color($colors, blue);
	}

	.item-ios {
		background-color: transparent;
	}

}
