page-quesnav2 {

	.invis {
		display: none;
	}

	.clicked {
		background: color($colors, red);
	}

	.next-button {
		background: #8e1919;
	    top: 1px;
	    left: 119px;
	    width: 100px;
	    font-size: 24px;
	    height: 50px;
	}

	.last-item {
		position: relative;
	    top: 131px;
	    left: 10px;
	    width: 325px;
	    border-radius: 25px;
	    background: transparent;
	}

	.small-font {
		font-size: 20px;
		background: white !important;
    	border-radius: 19px;
    	margin-bottom: 10px;
    	text-align: center;
	}

	.server-label {
		position: relative;
	    top: 152px;
	    background: transparent;
	    z-index: 1;
	    font-weight: bold;
	    font-size: 35px;
	    left: 41px;
	    color: color($colors, blue);
	}

	.linked-header1 {
		position: relative;
    	top: 146px;
    	left: 70px;
	}

	.linked-header2 {
    	position: relative;
	    top: 3px;
	    left: 4px;
	    font-size: 16px;
	    text-align: center;
	}

	.option-item {
	    position: relative;
	    top: 131px;
	    left: 58px;
	    width: 225px;
	    border-radius: 25px;
	    margin-top: 14px;
		ion-label {
		    font-size: 27px;
		    text-align: center;
		}
	}

	.check-list {
		top: 133px;
    	position: relative;
	}

	#check-item {
		background: white;
    	font-size: 30px;
    	margin-bottom: 10px;
    	border-radius: 25px;
    	color: color($colors, blue);
	}

	.checkbox-ios .checkbox-checked {
		border-color: color($colors, brick);
		background: color($colors, brick);
	}

}


