<!--
  Generated template for the Quesnav2Page page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-header no-shadow>
	<div class="navbar-top">
		<div (click)="goHome()" class="logo"></div>
		<div (click)="getHelpPage()" class="ask">
			<ion-icon class="ask-text" name="settings"></ion-icon>
		</div>
	</div>
</ion-header>

</ion-header>


<ion-content padding>

	<ion-item class="server-label" no-lines>
	Chat with Server
	</ion-item>

	<ion-list *ngIf="!decisionTree['checkbox']" no-lines>
		<ion-list-header class="linked-header1">{{getFirst(headerLinkedList)}}</ion-list-header>

		<ion-item [ngClass]="{'clicked' : item.clicked, 'last-item' : item.isLeaf, 'option-item' : !item.isLeaf}" *ngFor="let item of getChildren(decisionTree)" no-lines>
				<ion-item style="background-color: transparent;" *ngFor="let subitem of item['subchildren']" (click)="changeTree(item)" no-lines [ngClass]="{'invis': item.disabled, 'small-font' : item.isLeaf}" no-lines>
					{{item.root + " " + subitem}}
					<button class="order-button" ion-button (click)="orderItem(item.root + ' ' + subitem)" [ngClass]="{'invis': !item.isLeaf}">order</button>
				</ion-item>
		</ion-item>

	</ion-list>

	<ion-list *ngIf="decisionTree['checkbox']" class="check-list">
		<ion-list-header class="linked-header2">{{getFirst(headerLinkedList)}}</ion-list-header>

		<ion-item *ngFor="let item of getChildren(decisionTree)" id="check-item">
     		<ion-label>{{item.root}}</ion-label>
     		<ion-checkbox [(ngModel)]="orderObject[headerLinkedList['stage']][item.root.toLowerCase()]" disabled="{{item.disabled}}"></ion-checkbox>
   		</ion-item>

   		<button ion-button class="next-button" (click)="stageNext()">next</button>
	</ion-list>


</ion-content>
