

page-home {

	// Staging for b1 
	.button1Stage0 {
		position: relative;
		left: 40px;
		top: 190px;
		opacity: 0;
		animation: popin1 0.5s ease-in 0s 1;
		animation-fill-mode: forwards;
	}

	.button1Stage1 {
		position: relative;
	    top: 175px;
		left: 40px;
		opacity: 0;
		animation: fadeIn 0.5s ease-in 0s 1;
		animation-fill-mode: forwards;
	}

	.button1Stage2 {
		display: none;
	}

	.button1Stage3 {
		position: relative;
	    top:  128px;
		left: 5px;
		opacity: 0;
		animation: fadeleft 0.5s ease-out 0s 1;
		animation-fill-mode: forwards;
	}

	// Staging for b2 
	.button2Stage0 {
		position: relative;
	    top: 245px;
		left: 40px;
		opacity: 0;
		animation: popin2 0.5s ease-in 0s 1;
		animation-fill-mode: forwards;
	}

	.button2Stage1 { 
		position: relative;
	    top: 230px;
		left: 40px;
		animation: fadeIn 0.5s ease-in 0s 1;
		animation-fill-mode: forwards;
	}

	.button2Stage2 { 
		display: none;
	}

	.button2Stage3 { 
		position: relative;
	    top: 166px;
		left: 5px;
		opacity: 0;
		animation: fadeleft 0.5s ease-out 0.1s 1;
		animation-fill-mode: forwards;
	}

	// Label Staging 
	.labelStage0 {
		display: none;
	}

	.labelStage1 {
		position: relative;
	    top: 126px;
	    left: 61px;
	    font-size: 36px;
	    color: color($colors, blue);
	    font-weight: bold;
	}

	.labelStage3 {
		position: relative;
	    top: 109px;
    	font-weight: bold;
	    left: 1px;
	    text-align: center;
	    font-size: 40px;
	    color: color($colors, blue);
	}

	// Staging for b3 
	.button3Stage0 {
		display: none;
	}

	// Staging for menuButton 
	.menuStage0 {
		display: none;
	}

	.menuStage1 { 
		position: relative;
    	top: 145px;
    	opacity: 0;
    	animation: popin1 0.5s ease-in 0s 1;
		animation-fill-mode: forwards;
	}

	// Home button styling 
	#homeButton {
		background-color: color($colors, whitish);
		border-radius: 50px;
		width: 259px;
	    height: 80px;
	    font-size: 32px;//38px;
		color: color($colors, blue);
	}

	// Input and Submit Styling 
	.submitButton {
		top: 50px;
    	left: 37px;
		position: relative;
	}

	.inputRest {
		background-color: transparent;
		color: color($colors, brick);
		font-size: 40px;
	}

	.button3 {
		position: relative;
		top: 202px;
    	left: 5px;
    	opacity: 0;
    	animation: fadeleft 0.5s ease-out 0.2s 1;
		animation-fill-mode: forwards;
	}

	.item-ios {
		background-color: transparent;
	}
}



.item-ios.item-block .item-inner {
	border-bottom: none;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}

@keyframes popin1 {
	to {
		opacity: 1;
		top: 180px;
	}
}

@keyframes popin2 {
	to {
		opacity: 1;
		top: 235px;
	}
}

@keyframes fadeleft {
	to {
		opacity: 1;
		left: 40px;
	}
}



