page-home {

	// Staging for b1 
	.button1Stage0 {
		position: relative;
	    top: 180px;
		left: 40px;
	}

	.button1Stage1 {
		position: relative;
	    top: 175px;
		left: 40px;
		opacity: 0;
		animation: fadeIn 0.5s ease-in 0s 1;
		animation-fill-mode: forwards;
	}

	.button1Stage2 {
		display: none;
	}

	.button1Stage3 {
		position: relative;
	    top:  128px;
		left: 40px;
	}

	// Staging for b2 
	.button2Stage0 {
		position: relative;
	    top: 235px;
		left: 40px;
	}

	.button2Stage1 { 
		position: relative;
	    top: 260px;
		left: 40px;
		animation: fadeIn 0.5s ease-in 0s 1;
		animation-fill-mode: forwards;
	}

	.button2Stage2 { 
		display: none;
	}

	.button2Stage3 { 
		position: relative;
	    top: 175px;
		left: 40px;
	}

	// Label Staging 
	.labelStage0 {
		display: none;
	}

	.labelStage1 {
		position: relative;
	    top: 125px;
	    left: 47px;
	    font-size: 36px;
	    color: color($colors, grey);
	}

	.labelStage3 {
		position: relative;
	    top: 100px;
	    left: 1px;
	    text-align: center;
	    font-size: 40px;
	    color: color($colors, grey);
	}

	// Staging for b3 
	.button3Stage0 {
		display: none;
	}

	// Staging for menuButton 
	.menuStage0 {
		display: none;
	}

	.menuStage1 { 
		position: relative;
    	top: 145px;
	}

	// Home button styling 
	#homeButton {
		background-color: white;
		border: 3px solid color($colors, red);
		border-radius: 50px;
		width: 259px;
	    height: 66px;
	    font-size: 32px;//38px;
		color: color($colors, grey);
	}

	// Input and Submit Styling 
	.submitButton {
		top: 50px;
    	left: 37px;
		position: relative;
	}

	.inputRest {
		background-color: transparent;
		color: color($colors, red);
		font-size: 40px;
	}

	.button3 {
		position: relative;
		top: 227px;
    	left: 40px;
	}

	.item-ios {
		background-color: transparent;
	}
}



.item-ios.item-block .item-inner {
	border-bottom: none;
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
