// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
  font-family: 'HandOfSeanDemo';
  src: url('../assets/hand_of_sean/Hand_Of_Sean_Demo.woff');
  src: local('Hand_Of_Sean_Demo'),
    url("../assets/hand_of_sean/Hand_Of_Sean_Demo.woff") format("woff"),
}

/* -- Navbar styling -- */
.navbar-top {
	position: relative;
	top: 0px;
	left: 0px;
	height: 50px;
	width: 100%;
	text-align: center;

	.logo {
		border-radius: 150px;
	    height: 23px;
	    width: 69px;
	    right: 143%;
	    top: 10px;
	    display: inline-block;
	    position: absolute;

	    svg {
	    	height: 219px;

	    	tspan {
	    		font-family: "HandOfSeanDemo";
	    	}
	    }
	}
	
	.title {
		display: inline-block;
	    left: 153px;
	    top: 13px;
	    position: absolute;
	    color: color($colors, blue);

		font: {
			size: 21px;
			weight: bold;
		}
	}

	.ask {
		display: inline-block;
	    width: 40px;
	    height: 40px;
	    border-radius: 150px;
	    left: 323px;
	    top: 0px;
		position: absolute;

		.ask-text {
			top: 5%;
			color: color($colors, blue);
			position: relative;

			font: {
				size: 50px;
			}
		}
	}
}

.order-button {
	background: color($colors, red);
}

.bg-style, .background, .background .pane, .background .item, .background .item-complex .item-content, .scroll-content, .navbar-top{
	background: color($colors, tan);
}

* {
	font-family: 'Amiri', serif;
}



/* --- Global Mixin-Animations --- */
// Duration, final opacity, animation style, wait until animation starts
@mixin fadein($sec, $final, $style, $wait) {
	animation: fadein $sec $style $wait 1;
	animation-fill-mode: forwards;
	@keyframes fadein {
		to {
			opacity: $final;
		}
	}
}


