// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* -- Navbar styling -- */
.navbar-top {
	position: relative;
	top: 0%;
	left: 0%;
	height: 50px;
	width: 100%;
	text-align: center;

	.logo {
		border-radius: 150px;
	    background: color($colors, yellow);
	    height: 40px;
	    width: 40px;
	    left: 27px;
	    top: 5px;
	    display: inline-block;
	    position: absolute;
	}

	.title {
		display: inline-block;
	    left: 153px;
	    top: 13px;
	    position: absolute;
	    color: color($colors, grey);

		font: {
			size: 21px;
			weight: bold;
		}
	}

	.ask {
		display: inline-block;
	    width: 40px;
	    height: 40px;
	    border-radius: 150px;
	    border: 1px solid color($colors, red);
	    left: 310px;
	    top: 5px;
		position: absolute;

		.ask-text {
			top: 5%;
			color: color($colors, red);
			position: relative;

			font: {
				size: 30px;
			}
		}
	}
}

.order-button {
	background: color($colors, red);
}



/* --- Global Mixin-Animations --- */
// Duration, final opacity, animation style, wait until animation starts
@mixin fadein($sec, $final, $style, $wait) {
	animation: fadein $sec $style $wait 1;
	animation-fill-mode: forwards;
	@keyframes fadein {
		to {
			opacity: $final;
		}
	}
}


