page-quickask {

	.order-path {
		animation: pushForward 0.1s linear 0s 1;
		animation-fill-mode: forwards;
	}

	.fadeIn {
		animation: fadeIn 0.3s linear 0s 1;
		animation-fill-mode: forwards;
	}


}


/* button push forward */
@keyframes pushForward {
	from {
		left: 0px;
	}
	to {
		left: 10px;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}