<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-shadow>
	<div class="navbar-top">
		<div (click)="goHome()" class="logo">
			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				 width="841.89px" height="595.28px" viewBox="0 0 841.89 595.28" enable-background="new 0 0 841.89 595.28" xml:space="preserve">
			<polygon fill="#A33217" stroke="#6E2307" stroke-width="7" stroke-miterlimit="10" points="571.288,362.608 421.892,446.903 
				274.025,359.966 275.555,188.734 424.952,104.439 572.818,191.376 "/>
			<path fill="#FFFFFF" d="M356.286,185.93l4.713-4.701l26.062,24.944c0,0,1.842,2.001,3.308,0.539c0,0,2.205-1.369-0.303-3.87
				L364.7,177.534l5.125-5.113l25.617,25.558c0,0,1.635,2.066,3.654,0.049c0,0,1.521-1.378-0.298-3.188l-25.126-25.879l4.693-5.062
				l26.035,25.974c0,0,10.426,8.454,1.885,16.976l7.27,6.927l54.567,45.839c0,0,8.707,6.415,0.205,14.897c0,0-8.2,9.266-15.391,2.091
				l-47.122-56.104l-6.44-6.424c0,0-8.134,8.115-16.578-0.312C374.348,205.338,356.286,185.93,356.286,185.93"/>
			<path fill="#FFFFFF" d="M480.278,172.732c0.271,0.293,0.427,0.66,0.47,1.033c0.057,0.483-0.084,0.979-0.415,1.341l-59.304,64.542
				c-2.113,2.357-15.707,17.226-24.721,28.534c-1.002,1.257-9.049,10.399-15.359,5.821c-6.382-4.63-7.428-7.503-5.479-10.599
				c1.953-3.1,37.114-35.426,37.114-35.426l4.694-4.162c15.299-16.246,1.981-15.704,13.08-26.703
				c15.905-15.762,24.414-26.883,24.414-26.883c0.164-0.175,4.72-3.965,4.934-4.062c11.096-4.943,13.841-0.376,14.775,0.356
				c0.068,0.053,0.128,0.112,0.186,0.172L480.278,172.732"/>
			<rect x="309.49" y="302.521" fill="none" width="249.223" height="75.763"/>
			<text transform="matrix(1.0023 0 0 1 309.4907 371.6875)"><tspan x="0" y="0" fill="#FFFFFF" font-family="'HandOfSeanDemo'" font-size="76.361">Ea</tspan><tspan x="103.915" y="0" fill="#FFFFFF" font-family="'HandOfSeanDemo'" font-size="76.361" letter-spacing="6.984">t</tspan><tspan x="149.283" y="-30.227" fill="#FFFFFF" font-family="'HandOfSeanDemo'" font-size="76.361">up</tspan></text>
			</svg>
		</div>
		<div (click)="getHelpPage()" class="ask">
			<ion-icon class="ask-text" name="settings"></ion-icon>
		</div>
	</div>
</ion-header>


<ion-content padding>

	<ion-list class="menu-categories">
		<ion-item (click)=changeItems(cat.index) class="option" *ngFor="let cat of categories">
			{{cat.name}}
		</ion-item>
	</ion-list>

	<ion-list class="items-container" no-lines>
		<ion-card [ngClass]="{'flip': item['flipped'], 'flip-container': true}" (click)="flipCard(item)" *ngFor="let item of items">
			<div class="front">
				<ion-card-header> {{item.name}} </ion-card-header> 

				<ion-card-content> 
					{{item.subcontent}}
					<div class="servedHeader"> {{"SERVED AT" | translate}}: 
						<div class="servedItem" *ngIf="item['mealType']['breakfast']">breakfast</div>
						<div class="servedItem" *ngIf="item['mealType']['lunch']">lunch</div>
						<div class="servedItem" *ngIf="item['mealType']['dinner']">dinner</div>
						<div class="servedItem" *ngIf="!(item['mealType']['breakfast'] || item['mealType']['lunch'] || item['mealType']['dinner'])">anytime</div>
					</div>
				</ion-card-content> 
			</div>
			<div class="back">
				<ion-card-header> Information </ion-card-header> 
				<ion-card-content>
					{{item.name}} serves {{item.numPeople}} people.
					The ingredients are: {{item.ingre}}
				</ion-card-content>
				<ion-item><button ion-button (click)="askOrder(item)" color="danger">{{"ORDER" | translate}}</button></ion-item>
			</div>
		</ion-card>
	</ion-list>

</ion-content>





