<!--
  Generated template for the MenuPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<div class="navbar-top">
		<div (click)="goHome()" class="logo"></div>
		<div class="title">EatUp!</div>
		<div class="ask">
			<div (click)="getHelpPage()" class="ask-text">?</div>
		</div>
	</div>

</ion-header>


<ion-content padding>

	<ion-list class="menu-categories">
		<ion-item class="option" *ngFor="let cat of categories">
			<div (click)=changeItems(cat.index)> {{cat.name}} </div>
		</ion-item>
	</ion-list>

	<ion-list class="items-container" no-lines>
		<ion-card [ngClass]="{'flip': item['flipped'], 'flip-container': true}" (click)="flipCard(item)" *ngFor="let item of items">
			<div class="front">
				<ion-card-header> {{item.name}} </ion-card-header> 

				<ion-card-content> 
					{{item.subcontent}}
					<div class="servedHeader"> {{"SERVED AT" | translate}}: 
						<div class="servedItem" *ngIf="item['mealType']['breakfast']">breakfast</div>
						<div class="servedItem" *ngIf="item['mealType']['lunch']">lunch</div>
						<div class="servedItem" *ngIf="item['mealType']['dinner']">dinner</div>
						<div class="servedItem" *ngIf="!(item['mealType']['breakfast'] || item['mealType']['lunch'] || item['mealType']['dinner'])">anytime</div>
					</div>
				</ion-card-content> 
			</div>
			<div class="back">
				<ion-card-header> Information </ion-card-header> 
				<ion-card-content>
					{{item.name}} serves {{item.numPeople}} people.
					The ingredients are: {{item.ingre}}
				</ion-card-content>
				<ion-item><button ion-button (click)="askOrder(item)" color="danger">{{"ORDER" | translate}}</button></ion-item>
			</div>
		</ion-card>
	</ion-list>

</ion-content>





